* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.accordion {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.accordion__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px 15px;
}

.accordion .active {
  background: #f0f0f0;
}

.accordion .active .category {
  display: flex;
}

.accordion .active .accordion__name_span {
  transform: rotate(90deg);
}

.accordion__name {
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.accordion__name:hover {
  color: #999;
}

.accordion__name_span {
  display: block;
  font-size: 20px;
}

.accordion .category {
  padding: 0 20px 10px;
  display: none;
  font-size: 18px;
  flex-direction: column;
}

.accordion .category__span {
  display: block;
  font-size: 18px;
}

.accordion .category__name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  margin-bottom: 5px;
}

.accordion .category .model {
  padding: 0 20px;
  display: none;
  cursor: pointer;
}

.accordion .category .model:hover {
  color: #999;
}

.accordion .category-active .category__span {
  transform: rotate(90deg);
}

.accordion .category-active .model {
  display: block;
}
